.swiperdetail-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px 50px;
    background-color: rgb(254, 254, 254);
    padding: 5px;
    gap: 5px;
    .swiperdetail-img {
        grid-column: span 7;
        border-radius: 5px;
    }
    .swiperdetail-content {
        grid-column: span 5;
        font-family: 'Dancing Script', cursive;
        text-align: center;
        font-size: 20px;
        padding-top: 80px;
        border-radius: 5px;
    }
    .swiper-button-1 {
        grid-column: span 3/6;
    }
    .swiper-button-2 {
        grid-column: span 3/11;
    }
}



@media only screen and (max-width: 780px) {
    .swiperdetail-container {
        grid-template-rows: 200px 200px 50px;
        .swiperdetail-img {
            grid-column: span 12;
        }
        .swiperdetail-content {
            grid-column: span 12;
            padding-top: 40px;
            font-size: 15px;
        }
        .swiper-button-1 {
            grid-column: span 6;
        }
        .swiper-button-2 {
            grid-column: span 6;
        }
    }
  }
  @media only screen and (max-width: 600px) {
    .swiperdetail-container {
        grid-template-rows: 150px 150px 50px 50px;
        .swiperdetail-img {
            grid-column: span 12;
        }
        .swiperdetail-content {
            grid-column: span 12;
            padding-top: 40px;
            font-size: 15px;
        }
        .swiper-button-1 {
            grid-column: span 12;
        }   
        .swiper-button-2 {
            grid-column: span 12;
        }
    }
  }
  @media only screen and (max-width: 375px) {
    .swiperdetail-container {
        grid-template-rows: 100px 100px 50px 50px;
        .swiperdetail-img {
            grid-column: span 12;
        }
        .swiperdetail-content {
            grid-column: span 12;
            padding-top: 10px;
            font-size: 12px;
        }
        .swiper-button-1 {
            grid-column: span 12;
        }   
        .swiper-button-2 {
            grid-column: span 12;
        }
    }
  }