.homecategory-container {
    position: relative;
    margin: 10px 0;
    width: 300px;
    height: 200px;
    border: 1px solid;
    box-shadow: 4px 4px 5px 1px rgb(3, 9, 39);
    overflow: hidden;
    .homecategory-img {
        width: 100%;
        height: 100%;
        background-size:cover;
        background-position: center;
    }
    &:hover {
        .homecategory-img {
            cursor: pointer;
            opacity: 0.5;
            transform: scale(1.3);
            transition: transform 10s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    }
    .homecategory-detail{
        position: absolute;
        top : 50%;
        right: 50%;
        transform: translate(50%, -50%);   
        height: 50%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1px;
        border: 1px solid black;
        z-index: 4;
        background-color: #ffffff;
        opacity: 0.6;
        cursor: pointer;
    }
    .homecategory-detail-p{
        font-family: 'Staatliches';
        font-size: 15px;
        color: #000000;
    }
}   

@media only screen and (max-width: 480px) {
    .homecategory-container  {
        height: 100px;
        .homecategory-detail {
            height:40px;
            .homecategory-detail-p{
                font-family: 'Staatliches';
                font-size: 9px;
                color: #000000;
            }
        }
    }
}
