.shopping-logo-container{
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .shopping-icon {
        width: 44px;
        height: 44px;
      }
    
      .item-count {
        position: absolute;
        top: 13px;
        left: 16px;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
      }
}