.checkout-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .checkout-items-img{
        width: 100px;
        height: 100px;
    }
    .checkout-items-quantitiy{
        display: flex;
        .arrow-car{
            cursor: pointer;
            font-size: 20px;
            padding: 0px 10px;
        }
        .value{
            font-size: 20px;

        }
    }
    .remove-button{
        width: 40px;
        font-size: 20px;
        cursor: pointer;
    }
}
.checkout-items > * {
    width: 100px !important;
    text-align: center;
}