.container-categoriespreview {
    width: 70%;
    margin: 100px auto;
    border-radius: 5px;
    padding: 10 10px;
    background-color: #dbdbdb;
    box-shadow: 2px 2px 10px 1px rgb(3, 9, 39);
}

@media only screen and (max-width: 500px) {
    .container-categoriespreview {
        width: 90%;
        margin: 100px auto;
        border-radius: 5px;
        padding: 0 10px;
        background-color: #dbdbdb;
        
        box-shadow: 2px 2px 10px 1px rgb(3, 9, 39);
    }
}