.cart-dropdown-container {
    position: absolute;
    top: 65px;
    right: -255px;
    transition-duration: 0.5s;
    width: 245px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    z-index: 5;
    .empty-message {
      display: flex;
      margin-top: 5px;
      .dropdown-img{
        width: 50px;
        height: 50px;
      }
      .dropdown-detail{
        font-family: Verdana, sans-serif;
        margin: auto;
        font-size: 10px;
      }
    }
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
    button {
      margin-top: auto;
      width: 100% !important;
      font-size: 14px !important;
    }
  }
.togglecart {
  right: 5px;
}