.category-preview-container {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;    
    .category-preview-container-title {
      width: 90%;
      font-size: 30px;
      text-decoration: none;
      padding: 10px 0px;
      font-family: 'Staatliches', cursive;
      color: black; ;
      margin: auto;
      cursor: pointer;
      text-align: center;
      transition: 0.3s;
      &:hover{
        color:#7bad49;
        background-color: rgb(3, 3, 2);
        border-radius: 10px;
        text-align: center;
      }
    }
    .category-preview-container-subtitle{
      font-size: 17px;
      color: rgb(0, 0, 0);
    }
  
    .preview {
      width: 90%;
      margin: auto;
      background-color: rgb(225, 223, 223);
      border-radius: 5px;
      padding: 5px 5px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
    }
  }
  