.section1-title{
    width: 70%;
    font-family:Courier, monospace;
    margin: auto;
    padding: 30px 0px;
    .section1-title-h1{
        font-size: 40px;
        color:#ffffff;
    } 
}
.home-container{
    box-shadow: 4px 4px 20px 1px rgb(3, 9, 39);
    width: 70%;
    border-radius: 8px;
    padding: 1px 10px;
    margin: auto;
    background-color: #dbdbdb;
    .section1-swiper {
        width: 90%;
        border-radius: 10px;
        margin: 70px auto;
        box-shadow: 0px 4px 20px 1px rgb(3, 9, 39);
    }
    .section2-title{
        background-color: #ffffff;
        box-shadow: 0px 4px 10px 1px rgb(3, 9, 39);
        margin: 10px 0px;
        text-align: center;
        width: 90%;
        margin: 10px auto;
        border-radius: 5px;
        padding: 10px 0px;
        font-family: 'Staatliches', cursive;
        .section2-title-h1{
            font-size: 40px;
            color: #001f3f;
        }
        .section2-title-p{
            color: #525252;
        }
        .section2-title-line{
            width: 100%;
            height: 2px;
            border-radius: 5px;
            background-color:#7bad49;
        }
    }
    .section2-card {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #ffffff;
        box-shadow: 0px 4px 10px 1px rgb(3, 9, 39);
        padding: 50px 50px;
        border-radius: 5px;
    }
}


