.topcar-detail-container{
    width:100%;
    margin: auto;
    background-color: rgb(117, 130, 142);
    position: relative;
    .topcar-detail-topic{
        width: 70%;
        margin: auto;
        background-color: rgb(149, 174, 217);
        color: rgb(12, 31, 108);
        font-family:Arial, Helvetica, sans-serif;
        font-size: 30px;
        text-align: center;
    }
    .topcar-detail-img{
        width: 70%;
        height:400px;
        margin: auto;
        background-size:cover;
        background-position: center;
    }
    .topcar-detail-button{
        position: absolute;
        transform:translate(200%,-110%);
        border-radius: 10px;
        display: block;
        width: 20%;
        margin: auto;
        cursor: pointer;
        font-family: 'Bebas Neue';
        background-color: rgb(20, 19, 16);
        color: azure;
        font-weight: bold;
        font-size: 40px;
        height: 50px;
        &:hover{
            background-color: azure;
            color: black;
        }
    }
    .topcar-detail-description{
        width: 62%;
        margin: auto;
        background-color: rgb(161, 182, 191);
        color: rgb(0, 0, 0);
        font-family: 'Bebas Neue';
        padding: 20px 61px;
        
        .detail-description-bold{
            font-size: 30px;
        }
    }
    .detail-comment-container{
        width: 70%;
        margin: auto;
        background-color: blanchedalmond;
        .comment-container-title{
            margin: 0;
            padding-top: 30px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            text-align: center;
        }
        .comment-user-container{
            width: 80%;
            margin: auto;
            background-color: bisque;
            margin-top: 10px;
            .user{
                width:30px;
                height: 30px;
            }
            .comment-user-note{
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        }
    }
}