.topcar-detail-container{
        box-shadow: 4px 4px 20px 1px rgb(3, 9, 39);
        width: 70%;
        padding: 1px 4px;
        margin: 100px auto;
        text-align: center;
        border-radius: 8px;
        background-color: #dbdbdb;
    .topcar-dettail-container2{
        width: 60%;
        margin: 65px auto;
        background-color: white;
        border-radius: 5px;
        box-shadow: 4px 4px 5px 1px rgb(3, 9, 39);
        .topcar-detail-topic{
            width: 100%;
            margin: auto;
            background-color: rgb(255, 255, 255);
            color: rgb(12, 108, 52);
            font-family:Arial, Helvetica, sans-serif;
            border-radius: 5px;
            font-size: 30px;
            text-align: center;
        }
        .topcar-detail-img{
            width: 100%;
            height:200px;
            margin: auto;
            background-size:cover;
            background-position: center;
            border-radius: 5px;
        }
        .topcar-detail-button{
            border-radius: 10px;
            display: block;
            width: 30%;
            cursor: pointer;
            font-family: 'Bebas Neue';
            background-color: rgb(20, 19, 16);
            color: azure;
            font-weight: bold;
            margin: 10px auto;
            font-size: 40px;
            height: 50px;
            &:hover{
                background-color: azure;
                color: black;
            }
        }
        .topcar-detail-description{
            width: 100%;
            border-radius: 6px;
            margin: auto;
            background-color: rgb(161, 182, 191);
            color: rgb(0, 0, 0);
            font-family: 'Bebas Neue';
            padding: 20px 61px;
            .detail-description-bold{
                font-size: 30px;
            }
        }
        .detail-comment-container{
            width: 100%;
            margin: auto;
            background-color: blanchedalmond;
            .comment-container-title{
                margin: 0;
                padding-top: 30px;
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
                text-align: center;
            }
            .comment-user-container{
                width: 80%;
                margin: auto;
                background-color: bisque;
                margin-top: 10px;
                .user{
                    width:30px;
                    height: 30px;
                }
                .comment-user-note{
                    font-family: Georgia, 'Times New Roman', Times, serif;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .topcar-detail-container {
        margin: 30px auto;
        width: 90%;
    }   
    .topcar-dettail-container2 {
        width: 70% !important;
        .topcar-detail-topic {
            font-size: 10px !important;
        }
    }
    .topcar-detail-button {
        border-radius: 10px;
            display: block;
            width: 70% !important;
            cursor: pointer;
            font-family: 'Bebas Neue';
            background-color: rgb(20, 19, 16);
            color: azure;
            font-weight: bold;
            margin: 10px auto;
            font-size: 20px !important;
            height: 50px;
    }
    .topcar-detail-description {
            width: 100%;
            border-radius: 6px;
            margin: auto;
            background-color: rgb(161, 182, 191);
            color: rgb(0, 0, 0);
            font-family: 'Bebas Neue';
            padding: 20px 10px !important;
            font-size:10px;
    }
}