* {
    box-sizing: border-box;
}
body {    
  margin: 0;
  padding: 0;
  margin-top: 60px; /*fixed overlap */
  background-color: #437593;
}
h1,h2,h3,p {
    margin: 0px;
}
.swiper-button-prev,
.swiper-button-next {
color: rgb(249, 248, 255) !important;
}
