.product-card-container {
    width: 200px;
    height:300px;
    margin: 5px auto;
    background-color: rgb(255, 255, 255)  ;
    box-shadow: 4px 4px 20px 1px rgb(3, 9, 39);
    border-radius: 5px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  
    img {
      border-radius: 8px;
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 5px;
    }
  
    button {
      width: 100%;
      margin: auto;
      opacity: 0.7;
      display: flex;
    }
  
    &:hover {
      img {
        opacity: 0.8;
      }
  
      button {
        opacity: 0.85;
        display: flex;
        margin: auto;
      }
    }
  
    .card-container-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-around;
      font-size: 10px;
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      cursor:default; 

      .container-footer-name{
        margin-bottom: 15px;
        font-size: 17px;
      }
      .container-footer-model {

        margin-bottom: 15px;
        font-size: 17px;
      }
  
      .container-footer-price {

        font-size: 17px;
      }
    }
  }